*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	height: 800px;
	width: 800px;
}

.row {
	display: flex;
	flex: 1;
}

.row__item {
	flex: 1;
	background-color: #f1e1cd;
	transition: background-color 150ms ease-in-out;
}

.row__item:hover {
	background-color: #deb887;
}

.btn-grid {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: #f1e1cd;
	font-size: 1rem;
	transition: background-color 150ms ease-in-out;
}

.btn-grid:hover {
	background-color: #deb887;
}
